<span class="h-card p-author about-me-inline">
    <a class="u-url" href="{{ author.url }}"><img class="u-photo" src="{{ author.avatar }}" alt="Profile picture" height="40" /></a>&nbsp;&nbsp;{{ author.name }}
</span>

