{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
    <div class="about-me-page center">
    {% for i in users %}
        {{ i.block }}
    {% endfor %}
    </div>
{% endblock %}
